@import "../../settings/colors.scss";

.Featured {
      height: 100vh;
      display: none;
      background-color: rgba(112, 112, 112, 0.6);
      background-blend-mode: overlay;

      h1 {
            color: black !important;
      }
}

.Genres {
      background: $dark-grey;
}



@media screen and (min-width: 1200px) {
      .Featured {
            display: flex !important;
            flex-direction: column;
            justify-content: center;

            h1 {
                  color: white !important;
            }

            .Featured_overview {
                  margin: 1rem 0;
                  width: 75%;
                  color: $white;
            }
      }
}